body{
   

    /* background: black; */
    /* opacity: 0; */
    /* background-size: contain; */
    /* background-size; */   
    justify-content: initial; 
}

.banner{
    width: 100vw;
    height: 25vh;
    background-image: url('./c.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-y: -130px;
    justify-content: flex-start;

}

.nav{
    display: flex;
    flex-direction: row;
    /* width: 70vw; */
    height: 10vh;
    /* color: black; */
    justify-content: space-evenly;
    align-items: center;
    background: rgb(85, 68, 52);
    opacity: 1;
}

.nav-title{
    text-align: center;
    font-size: 5vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(250, 250, 250);
    border-right: 2px solid gold;
    /* border-left: 2px solid gold; */
    width: 48%
}

.nav-links{
    font-size: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
}
.nav-links a{
    text-decoration: none;
    color: peachpuff;
}

.main-home{
    width: 100%;
    height: 56vw;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.main-info{
    width: 100%;
}

.main-text{
    width: 90%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 4.8vw;
}

.main-table{
    width: 100%;
    height: 60vw;
}

.main-table tr{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;

    /* text-align: center; */
    /* flex-direction: column; */
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
}

.main-table tr th{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: white; */
}

.table-pri{
    background-color: rgb(85, 68, 52);
    color: white;
}

.main-footer{
    display: flex;
    align-items: center;
    width: 80%;
}

@media screen and (min-height: 800px) and (min-width:300px){
    .main-table{
      height: 85vw;
    }
  }

@media screen and (min-width: 760px){
    .banner{
        background-position-y: -45vw;
    }
    
    .nav-title{
        font-size: 3.8vw;
    }

    .nav-links{
        font-size: 4vw;
    }

    .main-text{
        font-size: 4vw;
    }

    .main-table tbody tr th{
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 1900px){
    .banner{
        background-position-y: -52vw;
    }
    
    .nav-title{
        font-size: 2.5vw;
        width: 35%;
    }

    .nav-links{
        font-size: 2vw;
    }
    .main-home{
        height: 70%;
    }
}

